body{
    box-sizing: border-box;
    width: 1024px;
}
nav{
    background-color: black;
    color: white;
    padding-top:68px;
    padding-bottom: 68px;
 
  
}
nav a{
    text-decoration: none;
    color: white;
    padding:20px;
font-size: large;
}
